<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <!-- 文件日志 -->
    <target xsi:type="File" name="file" fileName="${specialfolder:folder=ApplicationData}/GameMacro/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} [${logger}] ${message} ${exception:format=tostring}" />
            
    <!-- 控制台日志 -->
    <target xsi:type="Console" name="console"
            layout="${longdate} ${uppercase:${level}} [${logger:shortName=true}] ${message} ${exception:format=message}" />
            
    <!-- 错误日志单独存储 -->
    <target xsi:type="File" name="errorFile" fileName="${specialfolder:folder=ApplicationData}/GameMacro/logs/errors/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} [${logger}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- 调试模式下输出所有日志到控制台 -->
    <logger name="*" minlevel="Debug" writeTo="console">
      <filters>
        <when condition="equals('${environment:DOTNET_ENVIRONMENT}','Production')" action="Ignore" />
      </filters>
    </logger>
    
    <!-- 错误和致命错误记录到错误日志文件 -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />
    
    <!-- 所有日志记录到普通日志文件 -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog> 